#cv {
    width: 65vw;
    float: right;
    padding-right: 5vw;
    padding-left: 7vw;
    padding-top: 5%;
    padding-bottom: 5vh;
    display: none;
}

#cv:target {
    display: block;
}

#cv h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#cv h3 {
    font-variant: small-caps;
}

p, h1, h2 {
    margin: 0;
}

#cv table {
    width: 100%;
}

#cv tr td:last-of-type {
    text-align: right;
}

#cv tr {
    /* margin-bottom: 1em;
    margin-top: 0.5em; */
    margin: 0;
}

#cv td {
    white-space:pre-wrap;
    word-wrap:break-word;
}

#cv ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#cv li {
    list-style-type: none;
    padding-left: 2em ;
    text-indent: -2em ;
}

#publications, #conferences {
    text-align: justify;
}

#print-button {
    padding-bottom: 2vh;
    padding-right: 1vh;
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
}

#print-button:hover {
    color: turquoise;
}

@media print {

    #print-button {
        display: none;
    }

    #sidebar {
        display: none !important;
    }

    #footer {
        display: none !important;
    }

    #cv {
        width: 100%;
        padding: 0;
    }

    #education {
        margin-top: -0.8em;
    }

    .chunk {
        page-break-inside: avoid;
    }

    h1 {
        font-size: large;
    }

    @page {
        margin: 1in;
    }

}

@media only screen and (max-width: 700px) {
    #cv {
        display: block;
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    #header {
        display: none;
    }

    #print-button {
        display: none;
    }
}
