#header, #header p {
    text-align: center;
}

#cv h3, h4 {
    margin: 0.5 auto;
}

#cv h3 {
    font-variant: small-caps;
}

#cv p, #cv h1, #cv h2, #cv tr {
    margin: 0;
}

#cv table {
    width: 100%;
}

#cv tr td:last-of-type {
    text-align: right;
}

#cv td {
    white-space:pre-wrap;
    word-wrap:break-word;
}

#cv ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#cv li {
    list-style-type: none;
    padding-left: 2em ;
    text-indent: -2em ;
    padding-bottom: 5px;
}

#languages li, #memberships li {
    padding-bottom: 0px;
}

#print-button {
    padding-bottom: 2vh;
    padding-right: 1vh;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media print {

    #print-button, #sidebar, #footer, .hash, .media-title {
        display: none !important;
    }

    #cv {
        display: block !important;
    }

    #cv {
        width: 100%;
        padding: 0;
        overflow-y: visible;
    }

    #education {
        margin-top: -0.8em;
    }

    .chunk {
        page-break-inside: avoid;
    }

    h1 {
        font-size: large;
    }

    #cv h3, h4 {
        margin-bottom: 0;
    }

    @page {
        margin: 1in;
    }

}

@media (max-width: 699px) or (max-height: 469px) {
    #cv {
        display: block;
    }

    #header {
        display: none;
    }

    #print-button {
        display: none;
    }
}
