#footer {
    position: fixed;
    bottom: 1vh;
    text-align: center;
    width: 35vw;
}

#credits:hover {
    color: turquoise;
}

#credits {
    margin-right: auto;
    padding-top: 1em;
    background-color: transparent;
    border: none;
    position: relative;
    text-align: left;
}

#credit-box {
    display: flex;
    background-color: white;
    flex-direction: column;
    max-width: 90%;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
}

#credit-text {
    text-align: left;
    font-size: 1.25em;
    padding: 0 1em 1em 1em;
}

@media only screen and (max-width: 700px) {
    #footer {
        position: static;
        width: 100%;
    }

    #credit-box {
        position: static;
        width: 100%;
        bottom: 1vh;
    }
}
