#research {
    width: 65vw;
    float: right;
    padding-right: 5vw;
    padding-left: 7vw;
    padding-top: 0;
    padding-bottom: 5vh;
    display: none;
}

#research h2 {
    font-size: 1.5rem;
}

#research:target {
    display: block;
}

#accordion li {
    margin-bottom: 0.5em;
    list-style: none;
    width:100%;
    }

#accordion li label {
    display:block;
    margin-top: 0.5em;
    font-size:1.25em;
    color: #999;
    }

#accordion label:hover {
    color: turquoise;
    cursor: pointer;
}

#accordion .content {
    padding:10px;
    font-size:1.2em;
    line-height:26px;
    text-align: justify;
    border-bottom: solid 1px #ddd;
}

#accordion .content p {
    padding-bottom: 1em;
}

#accordion .content row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
}

#accordion .content a {
    text-decoration: none;
    font-weight: bold;
}

.tag {
    padding: 5px;
    margin-right: 1em;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    color: #aaa;
}

.invisible {
    display: none;
}

#accordion label + input[type='radio'] {
    display: none;
 }

#news, #accordion {
    margin: 1em;
    padding: 1em;
    border-top: solid 1px #ddd;
}

#news p {
    font-size: 1.25rem;
    margin-top: 0.5em;
    color: #999;
}

 @media only screen and (max-width: 700px) {
    #research {
        display: block;
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10vh;
    }

    #accordion {
        width: 75vw;
    }

    #accordion .content {
        text-align: left;
    }
 }
