* {
    box-sizing: border-box;
  }

#sidebar {
    display: block;
    position: fixed;
    width: 35vw;
    height: 100vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#sidebar-container {
    display: block;
    width: 35vw;
    padding-top: 10%;
    padding-bottom: 0;
    box-sizing: border-box;
}

#sidebar-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#sidebar h2 {
    text-align: center;
    line-height: 15vh;
}

#nav {
    display: inline-block;
    width: 100%;
}

#nav ul {
    text-align: center;
    list-style-type: none;
    text-indent: -2em;
}

a {
    text-decoration: none;
    color: black;
}

#sidebar a, #social-buttons a {
    font-size: 1.5em;
}

#social-buttons {
    width: 35vw;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
}

a:hover, #credits:hover {
    color: turquoise;
}

.media-title {
    display: none;
}

#footer {
    position: fixed;
    bottom: 1vh;
    text-align: center;
    width: 35vw;
}

#credits {
    margin-right: auto;
    padding-top: 1em;
    background-color: transparent;
    border: none;
    position: relative;
    text-align: left;
}

#credit-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
}

#credit-text {
    text-align: left;
    font-size: 1.25em;
    padding: 0 1em 1em 1em;
}

.box-shadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 700px) {
    .media-title {
        display:block;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
    }
    #sidebar, #sidebar-container {
        position: relative;
        display: inline-block;
        top: 1vh;
        width: 97.5vw;
        height: 20vh;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 0;
        background-color: white;
        }
    #sidebar-img {
        display: inline-block;
        padding: 2.5%;
        width: auto;
        height: 20vh;
    }
    #nav {
        display: none;
    }
    #sidebar h2 {
        display: inline-block;
        text-align: left;
        line-height: 20vh;
        position: absolute;
    }

    #footer {
        position: static;
        width: 100%;
    }

    #credit-box {
        position: static;
        width: 100%;
        bottom: 1vh;
    }
}
