{{ "<!-- About Section -->" | safeHTML }}
<section class="failure" id="CV">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.CV.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 text-justify">
            <div class="cv-description">
              <h3>Education</h3>
              <p><em>Ph.D. -- Columbia University<br /></em></p>
              <ul>
              <li><p>2016-2020 (Anticipated) -- Graduate School of Arts and Sciences -- Department of Religion -- Focus in South Asia</p></li>
              </ul>
              <p><em>M.A. -- Columbia University</em></p>
              <ul>
              <li><p>2014-2016 -- Graduate School of Arts and Sciences -- Department of Religion -- Focus in South Asia -- GPA: 3.93</p></li>
              </ul>
              <p><em>B.A. -- Carthage College</em></p>
              <ul>
              <li><p>2009-2013 -- <em>summa cum laude</em> -- All College Honors -- Dual Major in Religion and Great Ideas -- GPA: 3.93</p></li>
              </ul>
              <p><em>Other</em></p>
              <ul>
              <li><p>Summer and Fall 2017 -- American Institute of Indian Studies (AIIS): Advanced Hindi -- Jaipur, India</p></li>
              <li><p>Summer 2016 -- American Institute of Indian Studies (AIIS): Advanced Hindi -- Jaipur, India</p></li>
              <li><p>Summer 2015 -- South Asia Summer Language Institute (SASLI): Intermediate Sanskrit -- Madison, WI</p></li>
              <li><p>Fall 2013 -- Zabaan Language Institute: Intermediate Hindi -- New Delhi, India</p></li>
              </ul>
              <h3>Languages</h3>
              <ul>
              <li><p>Hindi -- Training at AIIS, Columbia University, Zabaan Language Institute, Carthage College</p></li>
              <li><p>Sanskrit -- Training at Columbia University, SASLI (Madison, WI)</p></li>
              </ul>
              <h3>Competitive Fellowships and Honors</h3>
              <p>2018</p>
              <ul>
              <li><p>Fulbright-Hays Doctoral Dissertation Research Award</p></li>
              <li><p>AIIS Junior Research Fellowship (declined)</p></li>
              </ul>
              <p>2017</p>
              <ul>
              <li><p>AIIS Language Fellowship: Hindi</p></li>
              <li><p>Summer FLAS Fellowship: Hindi</p></li>
              </ul>
              <p>2016</p>
              <ul><li><p>Summer FLAS Fellowship: Hindi</p></li></ul>
              <p>2015</p>
              <ul><li><p>Academic Year FLAS Fellowship: Hindi</p></li></ul>
              <p>2014</p>
              <ul><li><p>Academic Year FLAS Fellowship: Hindi</p></li></ul>
              <p>2013</p>
              <ul>
              <li><p>Fulbright-Nehru Fellowship -- English Teaching Assistant -- New Delhi, India</p></li>
              <li><p>Emma Johnson Award [highest GPA in department] (Carthage College)</p></li>
              <li><p>Outstanding Senior Thesis in Religion (Carthage College)</p></li>
              </ul>
              <p>2012</p>
              <ul>
              <li><p>Summer Undergraduate Research Endeavor (Carthage College)</p></li>
              <li><p>Emma Johnson Award [highest GPA in department] (Carthage College)</p></li>
              </ul>
              <p>2011</p>
              <ul><li><p>Freeman Grant -- ASIA Network -- Huairou, China; Beijing, China</p></li></ul>
              <h3>Conference Papers/Presentations</h3>
              <ul>
              <li><p>&quot;Zooming in on Mozoomdar: A Microhistory of Brahmo Belief.&quot; American Acadamy of Religion Annual Conference, Denver, CO. (Fall 2018)</p></li>
              <li><p>Chair/Discussant. &quot;Yoga and Politics: South Asia and Beyond.&quot; Annual Conference on South Asia, University of Wisconsin-Madison. (Fall 2018)</p></li>
              <li><p>&quot;The Creation of a Mahatma: Creative License in Ratnadeep Pictures' <em>Tulsidas</em> (1954).&quot; Annual Conference on South Asia, University of Wisconsin-Madison. (Fall 2015)</p></li>
              <li><p>&quot;It's Common Sense: Medical Decision-Making in Beijing, China.&quot; National Conference of Undergraduate Research, University of Wisconsin, La Crosse. (Spring 2013)</p></li>
              <li><p>&quot;Dionysus the Provider: Immanent and Transcendent.&quot; Annual Core Texts Conference, Shimer College, Chicago, IL. (Spring 2013)</p></li>
              <li><p>&quot;Beliefs, Actions, Outcomes -- Medical Decision-making in Beijing, China.&quot; ASIANetwork Conference, Willamette University, Portland, OR. (Spring 2012)</p></li>
              <li><p>&quot;Dionysus the Provider: Immanent and Transcendent.&quot; Midwest Undergraduate Conference in the Humanities, Simpson College, Indianola, IA. (Fall 2012)</p></li>
              </ul>
              <h3>Publications</h3>
              <ul><li><p>&quot;<em>Metabolic Living: Food, Fat, and the Absorption of Illness in India</em> by Harris Solomon (Review).&quot; <em>Global Public Health</em> (forthcoming).</p></li></ul>
              <h3>Professional Memberships</h3>
              <ul>
              <li><p>American Academy of Religion (AAR)</p></li>
              <li><p>International Exchange Alumni</p></li>
              </ul>
              <h3>Academic Positions</h3>
              <p>Fall 2018</p>
              <ul><li><p><em>Teaching Assistant</em> -- &quot;East Asian Buddhism&quot; (Michael Como, Religion)</p></li></ul>
              <p>Summer 2018</p>
              <ul>
              <li><p>Graduate Mentor -- Laidlaw Scholarship Program</p></li>
              <li><p><em>Research Assistant</em> -- Kavita Sivaramakrishnan (History and Public Health)</p></li>
              </ul>
              <p>Spring 2018</p>
              <ul><li><p><em>Teaching Assistant</em> -- &quot;Hinduism&quot; (Jack Hawley, Religion)</p></li></ul>
              <p>Spring 2017</p>
              <ul><li><p><em>Research Assistant</em> -- Kavita Sivaramakrishnan (History and Public Health)</p></li></ul>
              <p>Summer 2014</p>
              <ul><li><p><em>Creative Writing Teacher</em> -- The Center for Gifted: Midwest Torrance Center for Creativity, Buffalo Grove, IL</p></li></ul>
              <p>Summer 2013-2014</p>
              <ul><li><p><em>English Teaching Assistant</em> -- Fulbright-Nehru Scholarship -- New Delhi, India</p></li></ul>
              <p>Fall 2011-Spring 2013</p>
              <ul><li><p><em>CRLA Level 3 Certified Writing Tutor</em> -- Carthage College Writing Center</p></li></ul>
              <p>Fall 2011-Spring 2012</p>
              <ul><li><p><em>Great Ideas Department Fellow</em> -- Carthage College</p></li></ul>
            </div>
          </div>
          <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="{{ with .Site.Params.CV.button.src }}{{.}}{{ end }}" class="btn btn-lg btn-outline" download>
              <i class="fa fa-{{ with .Site.Params.CV.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.CV.button.text }}{{ . }}{{ end }}
            </a>
          </div> -->

        </div>
    </div>
</section>
