{{ "<!-- CV Section -->" | safeHTML }}
<section class="failure" id="CV">
  <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.CV.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" id="cvBody">
          <div class="col-lg-8 col-lg-offset-2 text-justify">
              <h2 id="education">Education</h2>
              <div id="edTable">
              <table>
              <tbody>
              <tr class="odd">
              <td style="text-align: left;">PhD</td>
              <td style="text-align: left;">Religion</td>
              <td style="text-align: left;">Columbia University</td>
              <td style="text-align: right;">(anticipated) 2022</td>
              </tr>
              <tr class="even">
              <td style="text-align: left;">MPhil</td>
              <td style="text-align: left;">Religion</td>
              <td style="text-align: left;">Columbia University</td>
              <td style="text-align: right;">2019</td>
              </tr>
              <tr class="odd">
              <td style="text-align: left;">MA</td>
              <td style="text-align: left;">Religion</td>
              <td style="text-align: left;">Columbia University</td>
              <td style="text-align: right;">2016</td>
              </tr>
              <tr class="even">
              <td style="text-align: left;">BA</td>
              <td style="text-align: left;">Religion, <br> Great Ideas</td>
              <td style="text-align: left;">Carthage College</td>
              <td style="text-align: right;">2013</td>
              </tr>
              </tbody>
              </table>
              </div>
              <h2 id="certificates">Certificates</h2>
              <table>
              <colgroup>
              <col style="width: 23%" />
              <col style="width: 53%" />
              <col style="width: 23%" />
              </colgroup>
              <tbody>
              <tr class="odd">
              <td>2021</td>
              <td style="text-align: left;">Center for Teaching and Learning: Foundational Track Completion</td>
              <td>Columbia University</td>
              </tr>
              <tr class="even">
              <td>2020</td>
              <td style="text-align: left;">South Asia Institute: Advanced Certificate</td>
              <td>Columbia University</td>
              </tr>
              </tbody>
              </table>
              <h2 id="languages">Languages</h2>
              <div id="langTable">
              <table>
              <tbody>
              <tr class="odd">
              <td style="text-align: left;">English</td>
              <td style="text-align: left;">Hindi</td>
              </tr>
              </tbody>
              </table>
              </div>
              <h2 id="competitive-scholarships-and-honors">Competitive Scholarships and Honors</h2>
              <table>
              <colgroup>
              <col style="width: 8%" />
              <col style="width: 91%" />
              </colgroup>
              <tbody>
              <tr class="odd">
              <td>2018</td>
              <td>Fulbright-Hays Doctoral Dissertation Research Award: Mathura, India<br />
              AIIS Junior Research Fellowship (declined)</td>
              </tr>
              <tr class="even">
              <td>2017</td>
              <td>AIIS Language Fellowship (Hindi): Jaipur, India<br />
              Summer FLAS Fellowship (Hindi): Jaipur, India</td>
              </tr>
              <tr class="odd">
              <td>2016</td>
              <td>Summer FLAS Fellowship (Hindi): Jaipur, India</td>
              </tr>
              <tr class="even">
              <td>2015</td>
              <td>Academic Year FLAS Fellowship (Hindi)</td>
              </tr>
              <tr class="odd">
              <td>2014</td>
              <td>Academic Year FLAS Fellowship (Hindi)</td>
              </tr>
              <tr class="even">
              <td>2013</td>
              <td>Fulbright-Nehru Fellowship (ETA): New Delhi, India</td>
              </tr>
              </tbody>
              </table>
              <h2 id="conferences-and-invited-talks">Conferences and Invited Talks</h2>
              <ul>
              <li>“Om Shanti Emojis: Three Facets of Digital Hinduism,” Anthropology of Religion Unit and Religion, Media, and Culture Unit, American Academy of Religion, Online, December 5, 2020.</li>
              <li>“Energy and Vibrations: The Logic of Transformation in the Gayatri Pariwar and the Brahma Kumaris,” Public Health Workshop, Jalaharwal Nehru University, New Delhi, March 12, 2020.</li>
              <li>“Zooming in on Mozoomdar: A Microhistory of Brahmo Belief,” Religion in South Asia Section, American Academy of Religion, Denver, November 18, 2018.</li>
              <li>Chair/Discussant, “Yoga and Politics: South Asia and Beyond,” Madison South Asia Conference, October 12, 2018.</li>
              <li>“The Creation of a Mahatma: Creative License in Ratnadeep Pictures’ <em>Tulsidas</em> (1954),” Madison South Asia Conference, October 23, 2015.</li>
              </ul>
              <h2 id="publications">Publications</h2>
              <ul>
              <li>“COVID-19 First Responders: The Gayatri Pariwar and the Immune Ritual Body.” <em>Journal of the American Academy of Religion,</em> (forthcoming).</li>
              <li><a href="https://doi.org/10.1080/17441692.2018.1511742">“Metabolic Living: Food, Fat, and the Absorption of Illness in India by Harris Solomon (Review).” <em>Global Public Health</em> 11, no.2 (2018): 318-19.</a></li>
              </ul>
              <h2 id="professional-memberships">Professional Memberships</h2>
              <ul>
              <li>American Academy of Religion (AAR)</li>
              <li>International Exchange Alumni</li>
              </ul>
              <h2 id="teaching-and-academic-service">Teaching and Academic Service</h2>
              <ul>
              <li>Lead Teaching Fellow (Center for Teaching and Learning, Columbia University, 2020-2021)</li>
              <li>Teaching Assistant (Columbia University, 2018-2020)
              <ul>
              <li>“Introduction to Judaism” (Beth Berkowitz, Religion)</li>
              <li>“Millennium: Apocalypse and Utopia” (Elizabeth Castelli, Religion)</li>
              <li>“East Asian Buddhism” (Michael Como, Religion)</li>
              <li>“Hinduism” (Jack Hawley, Religion)</li>
              </ul></li>
              <li>Research Assistant (Columbia University, 2018)
              <ul>
              <li>History of Diagnosing Cognitive Decline (Kavita Sivaramakrishnan, History)</li>
              </ul></li>
              <li>Graduate Mentor (Columbia University, 2018)
              <ul>
              <li>Laidlaw Scholarship Program</li>
              </ul></li>
              </ul>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="{{ with .Site.Params.CV.button.src }}{{.}}{{ end }}" target="_blank" class="btn btn-lg btn-outline">
                <i class="fa fa-{{ with .Site.Params.CV.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.CV.button.text }}{{ . }}{{ end }}
              </a>
          </div>
        </div>
    </div> <!-- wrapper container -->
    <div class="spacer"></div>
  </section>
