{{ "<!-- CV Section -->" | safeHTML }}
<section class="failure" id="CV">
  <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.CV.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" id="cvBody">
          <div class="col-lg-8 col-lg-offset-2 text-justify">
              <h2 id="education">Education</h2>
              <ul>
              <li><strong>Columbia University,</strong> Department of Religion
              <ul>
              <li>PhD, 2023 (anticipated)</li>
              <li>MPhil, 2019</li>
              <li>MA, 2016</li>
              </ul></li>
              <li><strong>Carthage College</strong>
              <ul>
              <li>BA, 2013, Religion and Great Ideas</li>
              </ul></li>
              <li><strong>Other</strong>
              <ul>
              <li>Fall 2017 – American Institute of Indian Studies (AIIS): Advanced Hindi – Jaipur, India</li>
              <li>Summer 2017 – AIIS: Advanced Hindi – Jaipur, India</li>
              <li>Summer 2016 – AIIS: Advanced Hindi – Jaipur, India</li>
              <li>Summer 2015 – South Asia Summer Language Institute (SASLI): Intermediate Sanskrit – Madison, WI</li>
              <li>Fall 2013 – Zabaan Language Institute: Intermediate Hindi – New Delhi, India</li>
              </ul></li>
              </ul>
              <h2 id="languages">Languages</h2>
              <ul>
              <li>English (native)</li>
              <li>Hindi</li>
              <li>Sanskrit (reading)</li>
              </ul>
              <h2 id="competitive-scholarships-and-honors">Competitive Scholarships and Honors</h2>
              <ul>
              <li>2020
              <ul>
              <li>Certificate of the Southern Asian Institute (Columbia University)</li>
              </ul></li>
              <li>2018
              <ul>
              <li>Fulbright-Hays Doctoral Dissertation Research Award</li>
              <li>AIIS Junior Research Fellowship (declined)</li>
              </ul></li>
              <li>2017
              <ul>
              <li>AIIS Language Fellowship: Hindi</li>
              <li>Summer FLAS Fellowship: Hindi</li>
              </ul></li>
              <li>2016
              <ul>
              <li>Summer FLAS Fellowship: Hindi</li>
              </ul></li>
              <li>2015
              <ul>
              <li>Academic Year FLAS Fellowship: Hindi</li>
              </ul></li>
              <li>2014
              <ul>
              <li>Academic Year FLAS Fellowship: Hindi</li>
              </ul></li>
              <li>2013
              <ul>
              <li>Fulbright-Nehru Fellowship – English Teaching Assistantship – New Delhi, India</li>
              </ul></li>
              </ul>
              <h2 id="conferences-and-invited-talks">Conferences and Invited Talks</h2>
              <ul>
              <li>“Energy and Vibrations: The Logic of Transformation in the Gayatri Pariwar and the Brahma Kumaris,” Public Health Workshop, Jalaharwal Nehru University, New Delhi, March 12, 2020.</li>
              <li>“Zooming in on Mozoomdar: A Microhistory of Brahmo Belief,” Religion in South Asia Section, American Academy of Religion, Denver, November 18, 2018.</li>
              <li>Chair/Discussant, “Yoga and Politics: South Asia and Beyond,” Madison South Asia Conference, October 12, 2018.</li>
              <li>“The Creation of a Mahatma: Creative License in Ratnadeep Pictures’ <em>Tulsidas</em> (1954),” Madison South Asia Conference, October 23, 2015.</li>
              </ul>
              <h2 id="publications">Publications</h2>
              <ul>
              <li><a href="https://doi.org/10.1080/17441692.2018.1511742">“Metabolic Living: Food, Fat, and the Absorption of Illness in India by Harris Solomon (Review).” <em>Global Public Health</em> 11, no.2 (2018): 318-19.</a></li>
              </ul>
              <h2 id="professional-memberships">Professional Memberships</h2>
              <ul>
              <li>American Academy of Religion (AAR)</li>
              <li>International Exchange Alumni</li>
              </ul>
              <h2 id="teaching-and-academic-service">Teaching and Academic Service</h2>
              <ul>
              <li>Lead Teaching Fellow (Center for Teaching and Learning, Columbia University, 2020-2021)</li>
              <li>Teaching Assistant (Columbia University, 2018-2019)
              <ul>
              <li>“Introduction to Judaism” (Beth Berkowitz, Religion)</li>
              <li>“Millenium: Apocalypse and Utopia” (Elizabeth Castelli, Religion)</li>
              <li>“East Asian Buddhism” (Michael Como, Religion)</li>
              <li>“Hinduism” (Jack Hawley, Religion)</li>
              </ul></li>
              <li>Research Assistant (Columbia University, 2018)
              <ul>
              <li>History of Diagnosing Cognitive Decline (Kavita Sivaramakrishnan, History)</li>
              </ul></li>
              <li>Graduate Mentor (Columbia University, 2018)
              <ul>
              <li>Laidlaw Scholarship Program</li>
              </ul></li>
              </ul>
          </div>
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="{{ with .Site.Params.CV.button.src }}{{.}}{{ end }}" target="_blank" class="btn btn-lg btn-outline">
                <i class="fa fa-{{ with .Site.Params.CV.button.icon }}{{.}}{{end}}"></i> {{ with .Site.Params.CV.button.text }}{{ . }}{{ end }}
              </a>
          </div>
        </div>
    </div> <!-- wrapper container -->
    <div class="spacer"></div>
  </section>
