<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/cv.css" rel="stylesheet">
<!-- <link href="css/sidebar.css" rel="stylesheet">
<link href="css/about.css" rel="stylesheet">
<link href="css/research.css" rel="stylesheet">
<link href="css/teaching.css" rel="stylesheet">
<link href="css/footer.css" rel="stylesheet"> -->
<link href="css/new.css" rel="stylesheet">
<link href="/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
<link href="academicons-1.8.6/css/academicons.min.css" rel="stylesheet" type="text/css">
<script defer src="/fontawesome/js/all.min.js"></script>
