{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ .title }}</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/{{ .img }}" class="img-modal img-responsive img-centered" alt="">
                        <p style="text-align:center; color:#aaa;">{{ .caption | markdownify }}</p>
                        <br><br>
                        <div class="paragraph">{{ .description | markdownify }}</div>
                        <div class="spacer"></div>
                        <div class="paragraph citations">{{ .citations | markdownify }}</div>
                        <!-- look for conditional formatting -->
                        <div class="{{ .link }}">
                          <input type="button" class="btn btn-lg btn-outline" value="{{ .link }}" onclick="window.open('{{ .linkName }}')">
                        </div>
                        <div class="spacer"></div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.portfolio.modal.buttontext }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
