<div id="research" class="hash">
    <div class="container">
    <h2 class="media-title">research</h2>
    <div id="news">
        <h2>news</h2>
            {{ $list := slice }}
            {{ with .Site.Data.cv }}
            {{ $list := append $list .Awards }}
            {{ $list := append $list (where .Publications "Date" "!=" nil) }}
            {{ $list := append $list .Conferences }}
            {{ $list := sort $list "Date" "desc" }}
            {{ range first 3 $list }}
                {{ if eq .Role "Panelist" }}<p>Presented “{{.Title | markdownify }}” at the {{.Venue}} on {{ time.Format "January 2, 2006" .Date }}.</p>{{ end }}
                {{ if .Type }}<p>Published <a href="{{.URL}}" target="_blank">{{.Title | markdownify}}</a></p>{{ end }}
                {{ if and (not .Role) (not .Type) }}<p>Received the {{ time.Format "2006" .Date }} {{.Title}}.</p>{{ end }}
            {{ end }}
            {{ end }}
        </div>
    <!-- <div id="tags-box">
    {{ $scratch := newScratch }}
    {{ $scratch.Set "array" (slice) }}
    {{ range .Site.Data.research }}
    {{ range .tags }}
    {{ $scratch.Add "array" . }}
    {{ end }}{{ end }}
    {{ $list := $scratch.Get "array" | uniq }}
    {{ range $list }}
    <a class="tag">#{{ . }}</a>
    {{ end }}
    </div> -->
    <ul id="accordion">
        <h2>projects</h2>
    {{ range sort .Site.Data.research "Date" "desc"}}
        <li>
            <label for="{{ .Title | anchorize }}"
            onclick="javascript:
                var radio = document.getElementById('{{ .Title | anchorize }}-content');
                radio.classList.toggle('invisible');
                return;
            "><i class="fas fa-caret-right"></i> {{ .Title }}</label>
            <input type="radio" name="accordion" id="{{ .Title | anchorize }}">
            <div id="{{ .Title | anchorize }}-content" class="content invisible">
                <p>
                    {{ .Description | markdownify }}
                </p>
                {{ if isset . "Link" }}<a class="visit-link" href="{{ .Link }}" target="_blank">More...</a>{{ end }}
                <div class="tags">
                    {{ range .tags }}<span class="tag">#{{ . }}</span>{{ end }}
                </div>
            </div>
        </li>
    {{ end }}
    </ul>
    </div>
</div>
