<div id="research">
    <h2 class="media-title">research</h2>
    <ul id="accordion">
    {{ range sort .Site.Data.research "Date" "desc"}}
        <li>
            <label for="{{ .Title | anchorize }}"
            onclick="javascript:
                var radio = document.getElementById('{{ .Title | anchorize }}-content');
                radio.classList.toggle('invisible');
                return;
            ">{{ .Title }}</label>
            <input type="radio" name="accordion" id="{{ .Title | anchorize }}">
            <div id="{{ .Title | anchorize }}-content" class="content invisible">
                <p>
                    {{ .Description | markdownify }}
                    {{ if isset . "Link" }}<a href="{{ .Link }}" target="_blank">More...</a>{{ end }}
                </p>
                <row>
                    {{ range .tag }}<span class="tag">#{{ . }}</span>{{ end }}
                </row>
            </div>
        </li>
    {{ end }}
    </ul>
</div>
