<div id="research" class="hash">
<div class="container">
    <h2 class="media-title">research</h2>
    <div id="news">
        <h2>news</h2>
            {{ $list := slice }}
            {{ with .Site.Data.cv }}
            {{ $list := append $list .Awards }}
            {{ $list := append $list (where .Publications "Draft" "!=" true) }}
            {{ $list := append $list .Conferences }}
            {{ $list := sort $list "Date" "desc" }}
            {{ range first 3 $list }}
                {{ if eq .Role "Panelist" }}<p>{{if (time .Date).After now}}Presenting{{else}}Presented{{end}} “{{.Title | markdownify }}” at the {{.Venue}} on {{ time.Format "January 2, 2006" .Date }}.</p>{{ end }}
                {{ if .Type }}<p>Published <a href="{{.URL}}" target="_blank">{{.Title | markdownify}}</a></p>{{ end }}
                {{ if and (not .Role) (not .Type) }}<p>Received the {{ time.Format "2006" .Date }} {{.Title}}.</p>{{ end }}
            {{ end }}
            {{ end }}
    </div>
    <div id="projects">
        <h2>projects</h2>
        <ul class="project-list">
            {{ range sort .Site.Data.research "Date" "desc"}}
            <li><a class="research-toggle" href="#{{ .Title | anchorize }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>

        {{ range sort .Site.Data.research "Date" "desc"}}
        <div id="{{ .Title | anchorize }}" class="research-project">
            <h3>{{ .Title }}</h3>
            <div class="tags">
            {{ range .tags }}<span class="tag">#{{ . }}</span>{{ end }}
            </div>
            <p>
            {{ .Description | markdownify }}
            </p>
            {{ if isset . "Link" }}
            <a class="visit-link" href="{{ .Link }}" target="_blank">More...</a>
            {{ end }}
        </div>
        {{ end }}

    </div>
</div>
</div>
