<div id="sidebar">
    <container id="sidebar-container">
        <img id="sidebar-img" src="{{ .Site.Params.sidebar.img }}">
        <h2>{{ .Title }}</h2>
    </container>
    <nav id="nav">
        <ul>
        {{ range .Site.Params.sidebar.menu }}
        <li><a id="{{ . | anchorize }}-anchor" href="#{{ . | anchorize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </nav>
    <div id="social-buttons">
        {{ range .Site.Params.social }}
        <a href="{{ .URL }}"><i class="fa fa-fw {{ .icon }}"></i></a>
        {{ end }}
    </div>
    <div id="footer">
        <p>© {{ now.Format "2006" }} {{ .Site.Data.cv.Name }}</p>
    </div>
</div>
