<div id="sidebar">
    <container id="sidebar-container">
        <img id="sidebar-img" src="{{ .Site.Data.about.img }}" alt="{{ .Site.Params.sidebar.alt }}">
    </container>
    <nav id="nav">
        <h2>{{ .Title }}</h2>
        <ul class="unstyled-list">
        {{ range .Site.Params.sidebar.menu }}
        <li><a id="{{ . | anchorize }}-anchor" href="#{{ . | anchorize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
        <div id="social-buttons">
        {{ range .Site.Params.social }}
        <a href="{{ .URL }}" aria-label="{{ .label }}"><i class="{{ .icon }}"></i></a>
        {{ end }}
    </div>
    </nav>
</div>
