<div id="teaching" class="hash">
  <h2 class="media-title">teaching</h2>
  <p>{{ .Site.Data.teaching.description }}</p>
  <h3 class="teaching-heading">Current Courses:</h3>
  <div class="course-grid">
  {{ range where .Site.Data.teaching.courses "current" "==" true }}
    <img src="{{ .img }}">
  {{ end }}
  </div>
     <h3 class="teaching-heading">Past Courses / Courses Taught Elsewhere:</h3>
       {{ range where .Site.Data.teaching.courses "current" "!=" true }}
       <ul>
        <li>{{ .course }} ({{ .venue }})</li>
       </ul>
  {{ end }}
</div>
