{{ "<!-- Timeline -->" | safeHTML }}

<section class="success" id="timeline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.timeline.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">

          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="about-description">
            <p>{{ with .Site.Params.timeline.description }}{{ . | markdownify }}{{ end }}</p>
              <label><input type="checkbox" data-filter-type="country" value="Atlantis" />Atlantis</label>
              <label><input type="checkbox" data-filter-type="country" value="France" />France</label>
            </div>
          </div>

        </div>

        <div class="row" style="padding-top: 20px;">
          <div class="col-md-12">
            <div class="main-timeline">
              {{ range .Site.Data.timeline }}
                <div class="timeline" data-country="{{ .country }}">
                    <div class="timeline-content">
                        <span class="year">{{ .date }}</span>
                        <span class="post">{{ .dateTitle }}</span>
                        <h4 class="title">{{ .eventTitle }}</h4>
                        <p class="description">{{ .description | markdownify }}</p>
                        <img class="img-responsive" style="max-width: auto;" src="{{ .img }}" alt="">
                    </div>
                </div>
              {{ end }}
            </div>
          </div>
        </div>
    </div>
</section>
