<!doctype html>
<html lang='en-US'>
<head>
{{ partial "head.html"}}
<title>{{.Title}}</title>
</head>
<body>
    <main>
    {{ partial "sidebar.html" . }}
    {{ partial "about.html" . }}
    {{ partial "research.html" . }}
    {{ partial "teaching.html" . }}
    {{ partial "cv/_cv.html" . }}
    </main>
    {{ partial "footer.html" . }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
<script>
    // default anchor
    function openAnchor() {
        if (screen.width > 700) {
            window.location.hash='#{{ .Site.Params.sidebar.landing }}'
        }
    };
    // window.onload = openAnchor();
    const modalOpen = document.querySelector('#credits-open');
    const modalClose = document.querySelector('#credits-close');
    const modal = document.querySelector('#credits');
    modalOpen.addEventListener( 'click', () => {
        modal.showModal();
    })
    modalClose.addEventListener( 'click', () => {
        modal.close();
    })
</script>
</html>
