<div id="cv" class="hash">
  <h2 class="media-title">c.v.</h2>
  <div class="container">
  {{ partial "cv/header.html" . }}
  {{ partial "cv/contact.html" . }}
  <!-- {{ partial "cv/citizenship.html" . }} -->
  {{ partial "cv/employment.html" . }}
  {{ partial "cv/education.html" . }}
  {{ partial "cv/awards.html" . }}
  {{ partial "cv/languages.html" . }}
  {{ partial "cv/publications.html" . }}
  {{ partial "cv/conferences.html" . }}
  {{ partial "cv/memberships.html" . }}
  {{ partial "cv/courses.html" . }}
  {{ partial "cv/service.html" . }}
  <!-- {{ partial "cv/references.html" . }} -->
  {{ partial "cv/print.html" . }}
  </div>
</div>
