<div class="chunk" id="references">
    <h3>Professional References </h3>
    <div class="list">
        <ul>
            <li>John Stratton Hawley</li>
            <li>Claire Tow Professor of Religion</li>
            <li>Columbia University, Barnard College</li>
            <li>jsh3@columbia.edu | 212-854-5292</li>
        </ul>
        <ul>
            <li>Rachel Fell McDermott</li>
            <li>Professor of Asian and Middle Eastern Cultures</li>
            <li>Columbia University, Barnard College</li>
            <li>rmcdermo@barnard.edu | 212-854-5416</li>
        </ul>
        <ul>
            <li>Kavita Sivaramakrishnan</li>
            <li>Associate Professor, History and Public Health</li>
            <li>Columbia University</li>
            <li>ks2890@columbia.edu | 212-305-1857</li>
        </ul>
    </div>
</div>
