<div class="chunk" id="references">
    <h3>Professional References </h3>
    <div class="list">
        <ul>
            <li>John Stratton Hawley</li>
            <li>Claire Tow Professor of Religion</li>
            <li>Columbia University, Barnard College</li>
            <li>jsh3@columbia.edu | 212-854-5292</li>
        </ul>
        <ul>
            <li style="margin-top: 1em">Rachel Fell McDermott</li>
            <li>Professor of Asian and Middle Eastern Cultures</li>
            <li>Columbia University, Barnard College</li>
            <li>rmcdermo@barnard.edu | 212-854-5416</li>
        </ul>
        <ul>
            <li style="margin-top: 1em">S. Brent Rodriguez-Plate</li>
            <li>Professor of Religious Studies, By Special Appointment</li>
            <li>Hamilton College</li>
            <li>splate@hamilton.edu | 315-854-4587</li>
        </ul>
    </div>
</div>
