<div class="chunk" id="service">
    <h3>Academic Service</h3>
    {{ range where .Site.Data.cv.Service "Role" "!=" "External Reviewer" }}
    <div class="grid columns-3 row">
        <div class="list">
            {{ .Date }}
            {{- if .End }}
                {{- if ge .End (time.Format "2006" now) }}—{{ else }}-{{ .End }}{{ end }}
            {{ end }}
        </div>
        <div class="list"><em>{{ .Role }}</em><br>{{ .Beneficiary }}</div>
        <div class="list align-right">{{ .Venue }}</div>
    </div>
    {{ end }}
    <h4>External Reviewer</h4>
    {{ range where .Site.Data.cv.Service "Role" "External Reviewer" }}
    <div class="list">
        {{ .Venue }}
    </div>
    {{end}}
</div>
